
::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background:gray; 
  }

.my-container{
    max-width: 70%;
    height: 97vh;
    margin-top:1vh;
    margin-bottom:2vh;

}

._app{
    display: grid;
    place-items: center;
    background-image: linear-gradient(white, MintCream);
    height:100vh;
; 

}

.app_body{
    display: flex;
    background-color: #ededed;
    height: 90vh;
    width: 90vw;
    margin-top: -50px;
    box-shadow:-1px 4px 20px -6px rgba(0,0,0,0.2);
    min-width:900px;
    min-height:900px ;
}

.oy-auto {
    overflow-y:auto;
}