body,html {
    margin: 0;
    padding: 0;
}


.login{
    display: grid;
    place-items: center;
    background-color: #ededed;
    background-image: linear-gradient(white, MintCream);
    height:100vh; 
    width:100vw; 
   
}

.login_box{
    display: grid;
    place-items:center;
    background-color:white;
    padding: 20px;
    min-height:250px;
    width:20vw;
    box-shadow:-1px 4px 20px -6px rgba(0,0,0,0.2);
    border-radius:10px;
}


#div_id_username > div > input{
    min-width: 15vw !important;
}



#div_id_password > div > input{
    min-width: 15vw !important;
}