input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

Picker:focus{
    outline: none;
}
.chat{
    flex: 0.65; 
    display: flex;
    flex-direction: column;
}

.chat_header{
    padding:7px;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
}

.chat_message{
    position:relative;
    font-size:16px;
    padding:10px;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}

.chat_receiver{
    margin-left:auto;
    background-color: lightgreen;
}

.chat_timestamp{
    margin-left:10px;
    font-size:xx-small;
}

.chat_name{
    position: absolute;
    top:-15px;
    font-weight: 800;
    font-size:xx-small;
}

.chat_headerRight{
    display:flex;
    justify-content:space-between;
    min-width: 100px;
}

.chat_headerInfo{
    flex: 1;
    padding-left:20px;

}

.chat_headerInfo > h3 {
    margin-bottom: 3px;
    font-weight:500
}
.chat_headerInfo > p {
    color:gray;
}

.chat_body{
    flex:1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat:repeat;
    background-position: center;
    padding:30px;
    overflow: scroll;
}

.chat_footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:62px;
    border-top: 1px solid lightgray;
}

.chat_footer > form {
    flex:1;
    display: flex;
}

.chat_footer > form > input{
    flex:1;
    border-radius: 30px;
    border:none;
}

.chat_footer > form > button{
    display: none;
}

.chat_footer > .MuiSvgIcon-root{
    padding: 1px;
    color:gray;
}

#icon-button-file{
    display:none;
}


