.left{
    display:flex;
    flex-direction:column;
    flex: .35;
}
.left_header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    border-right:1px solid lightgray;
}
.left_header_user{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left_header_user > p{
    margin-bottom: 0 !important;
    padding-left: 10px;
}
.left_search{
    display:flex;
    place-items: center;
    background-color:#f6f6f6;
    height:39px;
    padding:10px;
}

.left_searchContainer{
    display:flex;
    align-items:center;
    background-color:white;
    width:100%;
    height:35px;
    border-radius: 20px;

}

.left_searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding-left: 5px;
}

.left_searchContainer > input {
    border: none;
    margin-left: 10px;
    width:100%;
}

.left_headerRight{
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-width: 10vw;
}

.left_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size:24px !important;
}

.left_chats{
    flex:1;
    background-color: white;
    overflow:scroll;
}