.leftChat{
    display:flex;
    padding:20px;
    cursor:pointer;
    border-bottom: 1px solid #f6f6f6;
}

.leftChat:hover{
    background-color:#ebebeb
}

.leftChat_info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.leftChat_info {
    margin-left:15px;
}